@page "/activity"
@using BlazorActivityTracker.Pages.ManageActivity.UI


<div class="row p-3">

  <div class="col-md-5">
            @state
            @if(state==(int)States.Pending)
            {
               <Spinner/>
            }
            @if (state == (int)States.Error && message.Length>0)
            {
                <Alert Message="@message" CssClass="alert-danger"/>
            }

            @if (state == (int)States.Completed && message.Length > 0)
            {
                <Alert Message="@message" CssClass="alert-success"/>

            }
      @* activity form *@
      <ActivityForm activity="@activity" FormReset="HandleReset" ValidFormSubmit="HandleSubmit" /> 

  </div>

  <div class="col-md-7">
      @* acitity list, filters *@
      <Filter OnSelectDate="HandleSelectDate" OnLoadAll="HandleLoadAll"/>
      <ActivityList Activities="@activities" OnEdit="HandleEdit" OnDelete="HandleDelete"/>
  </div>
</div>
