<header class="nav-header">
    <span class="brand">ActivityTracker</span>
    <ul class="nav">
        <li>
            <NavLink class="navigation-link" href="" Match="NavLinkMatch.All">Home</NavLink>
        </li>
       
        <li>
            <NavLink class="navigation-link" href="activity">Activity</NavLink>
        </li>
        <li>
            <NavLink class="navigation-link" href="login">Login</NavLink>
        </li>
        <li>
            <NavLink class="navigation-link" href="signup">Signup</NavLink>
        </li>
    </ul>
</header>
@code{

}