@using Microsoft.AspNetCore.Components.Forms
 <EditForm Model="activity">
    <div class="mb-3">
     <label>Activitity Date*</label>
     <input type="date" class="form-control"/>
 </div>

 <div class="mb-3">
     <label>Total Hours*</label>
     <input type="text" class="form-control"/>
 </div>

<div class="mb-3">
     <label>Description*</label>
     <textarea type="text" class="form-control"> </textarea>
 </div>

 <div class="mb-3">
     <button type="submit" class="btn btn-primary">Save</button>
     <button type="button" class="btn btn-success">Reset</button>
 </div>
 </EditForm>
@code{
  DataAccess.Models.Activity activity = new DataAccess.Models.Activity();    
    
}