<table class="table table-bordered">
 <thead>
    <tr>
        <th>Activity Date</th>
        <th>Hour(s)</th>
        <th>Description</th>
        <th>Action</th>
    </tr>
 </thead>
 <tbody>
    @foreach(var activity in Activities )
    {
    <tr>
        <td>@activity.ActivityDate.ToString("dd-MM-yyyy")</td>
        <td>@activity.TotalHours</td>
        <td>@activity.Description</td>
        <td>
            <buttton type="button" class="btn btn-info" @onclick="()=>HandleEdit(activity)">✏️</buttton>
            <buttton type="button" class="btn btn-danger" @onclick="()=>HandleDelete(activity)">🗑️</buttton>
        </td>
    </tr>
    }
 </tbody>
</table>

<div class="py-2" style="font-size: 22px; font-weight:bold">
    Total Hours : @Activities.Sum(a=>a.TotalHours)
</div>

@code{
    [Parameter]
    public IEnumerable<Activity> Activities { get; set; }

    [Parameter]
    public EventCallback<Activity> OnEdit { get; set; }
    [Parameter]
    public EventCallback<Activity> OnDelete { get; set; }

    public void HandleEdit(Activity activity)
    {
        OnEdit.InvokeAsync(activity);
    }

    public void HandleDelete(Activity activity)
    {
        OnDelete.InvokeAsync(activity);

    }
}